.pageHeader {
  --header-margin: 6rem;
  position: relative;
  margin: 0 0 2rem;
  padding: 0 0 var(--header-margin);
  flex: 1;
  background-color: rgba(var(--fg) / 5%);
  background-attachment: local, fixed;
}

.headerTitle {
  margin: var(--header-margin) 0 0;
  font-size: 3rem;
  font-family: var(--font-header);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: -0.5px;
  line-height: 1.15;
}

.headerSupport {
  margin: 0 0 3rem;
  font-size: 1.5rem;
  font-family: var(--font-serif);
  font-weight: var(--fw-light);
  font-style: italic;
  line-height: 1.5;
  text-transform: unset;
  letter-spacing: unset;
}

.lead {
  --arrow-offset: 2rem;
  font-weight: var(--fw-light);
  font-size: 1.2rem;
  line-height: 1.5;
}

.lead > li {
  position: relative;
  margin: 0 0 0.5rem var(--arrow-offset);
}

.lead > li::before {
  position: absolute;
  content: '\2192';
  left: calc(-1 * var(--arrow-offset));
  color: rgb(var(--accent));
}

.headerContent {
  flex: 1;
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: var(--width-lg);
  flex-direction: column;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 3rem;
}

.main {
  display: grid;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: var(--width-lg);
  grid-template-columns: 1fr;
  column-gap: 3rem;
}

.sectionTitle {
  margin: 0 0 2rem;
  font-family: var(--font-header);
  font-size: 1rem;
  font-weight: var(--fw-light);
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: rgb(var(--light-grey));
}

.experience {
  grid-column: 1 / 2;
}

.experienceItem {
  display: block;
  margin: 0 0 3rem;
  color: rgb(var(--fg));
}

.experienceHeader {
  display: flex;
  margin: 0 0 1rem;
  align-items: flex-end;
}

.experienceTitle {
  flex: 1;
  font-family: var(--font-header);
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.experienceDate {
  margin: 0;
  font-weight: var(--fw-light);
  font-size: 0.75rem;
  color: rgb(var(--light-grey));
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

.experienceDescription {
  margin: 0 0 0.5rem;
  line-height: 1.5;
}

.sidebar {
  grid-column: 3 / -1;
}

.educationItem {
  margin: 0 0 1.5rem;
  padding: 1rem;
  transition: border var(--transition);
}

.educationItem:hover {
  border-color: rgb(var(--accent));
}

.educationTitle {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  line-height: 1.25;
  font-family: var(--font-header);
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.educationByline {
  margin: 0;
  font-size: 0.75rem;
}

.hobbies {
  grid-column: 1 / -1;
}

@media screen and (min-width: 40rem) {
  .main {
    grid-template-columns: 2.5fr 1fr;
  }
}