.main {
  display: flex;
  width: 100%;
  max-width: var(--width-md);
  margin: 0 auto;
  padding: 0 1rem;
  flex: 1;
  flex-direction: column;
}

.title {
  margin: 6rem 0 1rem;
  font-family: var(--font-header);
  font-size: 3rem;
  font-weight: var(--fw-bold);
  text-align: center;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.published {
  margin: 0;
  font-size: 1rem;
  font-weight: var(--fw-light);
  font-style: italic;
  color: rgb(var(--light-grey));
  text-align: center;
  text-transform: lowercase;
}

.timestamps {
  margin: 0 0 6rem;
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.content em {
  font-style: italic;
}

.content ul,
.content ol {
  margin: 0 0 1rem;
  line-height: 1.6;
}

.content ol {
  counter-reset: list;
}

.content ul > li,
.content ol > li {
  --indicator-offset: -1.5rem;
  --indicator-opacity: 0.8;
  --text-color: var(--fg);
  position: relative;
  display: block;
  margin: 0 0 0 1.5rem;
  color: rgb(var(--text-color));
  transition: color var(--transition);
  line-height: 1.5;
  font-style: italic;
}

.content ol > li::before,
.content ul > li::before {
  position: absolute;
  left: var(--indicator-offset);
  display: block;
  color: rgb(var(--accent));
  opacity: var(--indicator-opacity);
  transition: opacity var(--transition), left var(--transition), right var(--transition);
}

.content ol > li::before {
  counter-increment: list;
  content: counter(list) '.';
}

.content ul > li::before {
  top: calc(50% - 0.9rem);
  content: '\2192';
}

.content ol > li:hover,
.content ul > li:hover {
  --indicator-opacity: 1;
  --indicator-offset: -1.25rem;
  --text-color: var(--accent);
}

.content h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.content h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}