.header {
  --brand-size: 1.5rem;
  --link-spacing: 2rem;
  position: sticky;
  top: 0;
  z-index: var(--z-header);
}

.headerFilled {
  background-color: rgb(var(--bg));
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: var(--width-lg);
  margin: 0 auto;
  padding: 1rem;
  line-height: var(--brand-size);
}

.brand {
  margin: 0 0 1rem;
  font-family: var(--font-header);
  font-size: var(--brand-size);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-style: italic;
  user-select: none;
}

.activeLink {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

.textNav {
  margin: 0 0 1rem 0;
  line-height: 1.7rem;
}

.textNav a {
  margin: 0 var(--link-spacing) 0 0;
  color: rgb(var(--light-grey));
  font-weight: var(--fw-light);
  font-style: italic;
}

.textNav a:last-of-type {
  margin-right: 0;
}

.iconNav {
  display: flex;
}

.iconNav a:not(:last-of-type) {
  display: inline;
  margin: 0 1rem 0 0;
  padding: 0;
  border: none;
}

@media screen and (min-width: 40rem) {
  .innerWrapper {
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
  }

  .brand {
    margin: 0 calc(2 * var(--link-spacing)) 0 0;
  }

  .textNav {
    flex: 1;
    margin: 0;
  }
}