.main {
  position: relative;
  padding: 3rem 0 0;
  flex: 1;
  display: grid;
  margin: 0 auto;
  width: 100%;
  max-width: var(--width-lg);
  grid-template-columns: 2.5fr 1fr;
  column-gap: 3rem;
}

.sidebar {
  position: sticky;
  top: 1.25rem;
}

.headerWrapper {
  height: calc(100% + 60px);
}

.contentHeading {
  margin: 0 0 2rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.postCard,
.itemCard {
  --arrow-opacity: 0;
  --arrow-offset: 0rem;
  --title-color: var(--fg);
  display: block;
  margin: 0 0 3rem;
  color: rgb(var(--fg));
}

.postTitle {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: var(--fw-semibold);
  color: rgb(var(--title-color));
  transition: color var(--transition);
}

.postIntro {
  margin: 0 0 0.5rem;
}

.postButton {
  position: relative;
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.itemCard {
  position: relative;
  margin: 0 0 1.5rem;
  padding: 1rem;
  border: 1px solid rgba(var(--border));
  border-radius: 0.5rem;
  transition: border var(--transition);
}

.itemTitle {
  margin: 0;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: var(--fw-semibold);
  color: rgb(var(--title-color));
  transition: color var(--transition);
}

.postButton::after,
.itemCard::after {
  position: absolute;
  top: 0;
  left: calc(100% + var(--arrow-offset));
  display: block;
  content: '\2192';
  color: rgb(var(--accent));
  opacity: var(--arrow-opacity);
  transition: opacity var(--transition), left var(--transition), right var(--transition);
}

.itemCard::after {
  top: calc(50% - 1rem);
  right: var(--arrow-offset);
  left: unset;
}

.postCard:hover,
.postCard:active,
.postCard:focus {
  --arrow-opacity: 1;
  --arrow-offset: 1rem;
  --title-color: var(--accent);
}

.itemCard:hover,
.itemCard:active,
.itemCard:focus {
  --arrow-opacity: 1;
  --arrow-offset: 1rem;
  --title-color: var(--accent);
  --border: var(--accent);
}

.headerTopography {
  position: relative;
  height: 20rem;
  padding: 5rem 0 0;
  margin: 0 0 3rem;
  color: rgb(var(--fg));
  background-color: rgba(var(--fg) / 5%);
  background-attachment: local, fixed;
}

.headerTopography > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  fill: rgb(var(--bg));
}