.footer {
  margin: 4rem 0 0;
  padding: 4rem 1rem 6rem;
  background-color: rgba(var(--fg) / 5%);
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--width-lg);
  margin: 0 auto;
  align-items: center;
}

.footerBlock {
  flex: 1;
  text-align: center;
}

.footerBrand {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 1rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.footerContent {
  margin: 0;
  color: rgba(var(--fg) / 50%);
}

.footerCopyright {
  margin: 0 0 2rem;
  font-size: 0.75rem;
}

.beans {
  display: inline-block;
  filter: hue-rotate(90deg) brightness(2);
}

@media screen and (min-width: 40rem) {
  .innerWrapper {
    flex-direction: row;
  }

  .footerBlock {
    text-align: start;
  }

  .footerCopyright {
    margin: 0;
  }
  
}